
services:
  keycloak:
    build:
      context: ./keycloak
      dockerfile: Dockerfile
    restart: unless-stopped
    expose:
      - "8080"
    volumes:
      - keycloak_data:/opt/keycloak/data
    environment:
      - KC_DEV_MODE=${KC_DEV_MODE:-false}
      - KC_DB=postgres
      - KC_DB_URL_HOST=${KC_DB_URL_HOST}
      - KC_DB_URL_DATABASE=${KC_DB_URL_DATABASE}
      - KC_DB_USERNAME=${KC_DB_USERNAME}
      - KC_DB_PASSWORD=${KC_DB_PASSWORD}
      - KC_HOSTNAME=${KC_HOSTNAME}
      - KC_PROXY_HEADERS=xforwarded
      - KC_HOSTNAME_STRICT=${KC_HOSTNAME_STRICT:-false}
      - KC_HOSTNAME_STRICT_HTTPS=${KC_HOSTNAME_STRICT_HTTPS:-false}
      - KC_HTTP_ENABLED=true
      - KC_HTTP_RELATIVE_PATH=${KC_HTTP_RELATIVE_PATH:-/iam}
      - JAVA_OPTS=${JAVA_OPTS}
    networks:
      - sigicnetwork

volumes:
  keycloak_data:

networks:
  sigicnetwork:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: "1360"
