
/* perfil sigic https://sigic.dev.geoint.mx/ */

/* body[data-perfil='sigic'], */
body, :root {
  /* colores primarios */
  --color-primario-4: #991f47;
  --color-primario-3: #9d2148;
  --color-primario-2: #cc7a88;
  --color-primario-1: #cc8f9c;

  /* colores secundarios */
  --color-secundario-12: #391821;
  --color-secundario-11: #3f1d26;
  --color-secundario-11-rgb: 63, 29, 38;
  --color-secundario-10: #44242c;
  --color-secundario-9: #53323c;
  --color-secundario-8: #5f3e47;
  --color-secundario-7: #876670;
  --color-secundario-6: #b19099;
  --color-secundario-5: #dab9c2;
  --color-secundario-4: #f5d4dd;
  --color-secundario-3: #f8e1e8;
  --color-secundario-2: #fcf3f5;
  --color-secundario-1: #fcf9fa;
}

:root {
  /* --keycloak-logo-height: 63px; */
  --keycloak-logo-height: 8rem;
  --keycloak-logo-width: 20rem;
  --keycloak-logo-url: url('../img/sigic_logo.svg');
  --keycloak-bg-logo-url: url("../img/fondo_gris.jpg");
}

body {
  background: var(--keycloak-bg-logo-url) no-repeat center center fixed !important;
  background-size: cover !important;
}
.kc-login {
  align-items: center;
  min-height: 100vh;
}

div.kc-logo-text {
    background-image: var(--keycloak-logo-url);
    height: var(--keycloak-logo-height);
    width: var(--keycloak-logo-width);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}
div.kc-logo-text span {
    display: none;
}

.kc-login .contenedor {
  max-width: 35rem !important;
  align-items: center;
}
.kc-login main {
  min-height: auto;
}

.kc-input-group {
  display: flex;
  width: 100%;
}
.kc-input-group-item.kc-fill {
  flex: 1;
}
.kc-input-group-item input {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.kc-form-password-visibility-button {
  width: 40px;
  height: 40px;
  justify-content: center;
}

.kc-button-block {
  display: block;
  width: 100%;
}
input[type="button"], input[type="submit"], input[type="reset"], .boton.boton-chico {
  font-size: .875rem !important;
  padding: 8px !important;
}

.provides-social-account-list {
  list-style: none;
}
.provides-social-account-item {
  margin-block: 0;
  height: fit-content;
}
.provides-social-account-button svg {
  height: 1.25rem;
  width: 1.25rem;
}
